.APOD {
    align-items: center;
    display: block;
}

.APOD img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.developer-info {
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.developer-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.developer-card {
    background: #292828;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.developer-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.developer-card h3 {
    margin: 15px 0 5px;
}

.developer-card p {
    color: #777;
}